/* INITIALISATION CSS */
*
{
  margin: 0px;
  padding: 0px;
}


/* ################### */


/* DEFINITION POLICE */
@font-face
{
  font-family: 'Titre-Tournois';
  src: url('Contenu/Polices/Polices/good_morning_2/Good-Morning.ttf');
}


/* ################### */


/* PAGE COMPLETE */
.Page
{
  position: relative;
  background-color: #142939;
}


/* ################### */


/* PAGE ACCUEIL */
.Accueil
{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.Accueil_Fenetre
{
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  padding: 10px;

  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.4);
}

.Fenetre-1
{
  display: flex;
}

.Fenetre-1_Titre
{
  color: white;
  margin-bottom: 10px;
}

.Fenetre-1_Btn
{
  margin-bottom: 10px;
}

.Fenetre-2
{
  display: none;
}

.Fenetre-2_Desc
{
  color: white;
  margin-bottom: 20px;
  font-size: 45px;
}



/* ################### */



/* ENTETE */
.Entete
{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  padding-top: 50px;

  background-color: #21455f;

  border-bottom: 2px solid grey;
  color: white;
  font-weight: bold;
}

.Entete_Infos-Txt
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  margin-right: 10%;
}

.Entete_Titre-Tournois
{
  margin-bottom: 35px;

  font-family: 'Titre-Tournois';
  font-size: 230%;
  color: #fc9e00;
}

.Entete_Infos-Hote-Desc
{
  display: flex;
  align-items: center;

  width: 100%;

  padding-left: 5%;
}

.Entete_Infos-Hote
{
  display: flex;
  flex-flow: column nowrap;

  align-items: center;

  margin-right: 10%;
}

.Entete_Info-Hote-Titre
{
  margin-bottom: 15px;
}

.Entete_Infos_Hote
{
  max-width: 100px;
  filter: drop-shadow(0px 0px 2px #222);
}

.Entete_Infos_Desc
{
  max-width: 550px;
}

.Entete_Logo-Jeux
{
  max-width: 256px;
  height: auto;

  filter: drop-shadow(5px 5px 5px #222);
}


/* ################### */


/* NAVIGATION */
.Nav
{
  margin-left: 70px;
  margin-right: 46px;
  transform: skewX(-30deg);
  background-color: #333743;
  /* box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75); */
  margin-top: 50px;
}

.Nav_Ul
{
  display: flex;
  flex-flow: row nowrap;

  list-style: none;
}

.Nav li
{
  background-color: #333743;
  color: white;
  border-left: 1px solid white;
  border-top: 1px solid white;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.Nav li p
{
  transform: skewX(30deg);
  font-size: 25px;
}

.Nav_Arbre
{
  border-bottom: 1px solid white;
}

.Nav_Joueurs
{
  border-bottom: 1px solid white;
}

.Nav_Parametres
{
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

#Nav_Fin
{
  width: 100%;
  color: black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  cursor: context-menu;
}

.Nav_Actif
{
  border-bottom: 1px solid #333743;
}

.Onglets
{
  min-height: 520px;

  margin-left: 58px;
  margin-right: 58px;
  padding: 10px;
  padding-bottom: 20px;

  background-color: #333743;
  /* box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.75); */

  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}


/* ################### */


/* ONGLET ARBRE */
.Onglet_Arbre
{
  flex-flow: column nowrap;

  padding: 10px;
  padding-bottom: 20px;

  overflow: auto;
}

.Arbre_Tour, .Arbre_Interconnecteurs
{
  display: flex;
  justify-content: space-around;
  padding-right: 10px;
  width: 100%;
}

.Bloc-Joueurs
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  min-width: 90px;
  min-height: 65px;
}

.Bloc-Joueurs_Infos
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;

  border: 3px solid #B4B4B4;
  border-radius: 5px;
  cursor: pointer;

  color: white;
  font-size: 27px;
}

.Bloc-Joueurs_Infos_Pseudo, .Bloc-Joueurs_Infos_Score
{
  margin: 5px;
  width: 125px;

  text-align: center;
}

.Connecteur-Joueur
{
  width: 2px;
  height: 20px;

  background-color: white;
}

.InterConnecteur
{
  height: 2px;
  border-left: 3px solid black;
  background-color: white;
}

/* 3-4 JOUEURS */
.InterConnecteur-T0-4j
{
  width: 25.1%;
}

.InterConnecteur-T1-4j
{
  width: 30%;
}


/* 5-6 JOUEURS */
.InterConnecteur-T0-5j
{
  width: 10%;
}

.InterConnecteur-T1-5j
{
  width: 30%;
}
.InterConnecteur-T2-5j
{
  width: 40%;
}


/* 7-8 JOUEURS */
.InterConnecteur-T0-7j
{
  width: 10%;
}

.InterConnecteur-T1-7j
{
  width: 30%;
}

.InterConnecteur-T2-7j
{
  width: 40%;
}

.InterConnecteur-T3-7j
{
  width: 40%;
}


.InterConnecteur-Tour-Fin
{
  width: 21.5%;
}

.Onglet_Arbre_Appliquer
{
    width: 65px;
    margin: 5px auto;
}



/* ################### */


/* ONGLET JOUEURS */
.Onglet_Joueurs
{
  display: none;
  flex-flow: row nowrap;
  justify-content: center;

  overflow: auto;
}

.Onglets_Joueurs_Liste
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  max-width: 200px;
}

.Onglets_Joueurs_Liste_Pseudo
{
  background-color: black;
  color: white;
  margin: 5px;
  text-align: center;
}

.Onglet_Joueurs_Appliquer
{
  margin-top: 15px;
}

.Onglet_Joueurs_Separateur
{
  width: 2px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: white;
}

.Onglets_Joueurs_Carte
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  color: white;
}

.Onglets_Joueurs_Carte_Input
{
  width: 142px;
  text-align: center;
  vertical-align: middle;

  margin-top: 10px;

  background-color: black;
  color: white;
  cursor: not-allowed;
}

.Onglets_Joueurs_Carte_Pseudo-Label
{
  padding-left: 11px;
}

.Onglets_Joueurs_Carte_Defaite-Label
{
  padding-left: 5px;
}

/* ################### */



/* ONGLET PARAMETRES */
.Onglet_Parametres
{
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.Parametres-Input
{
  width: 142px;
  text-align: center;
  vertical-align: middle;

  margin-top: 10px;

  background-color: black;
  color: white;
}

.Onglet_Parametres_Desc-Tournois
{
  width: 450px;
  height: 100px;
  max-width: 500px;
  max-height: 200px;
}

.Onglet_Parametres_Nb-Joueurs
{
  width: 37px;
  text-align: left;
  padding-left: 2px;
}

.Onglet_Parametres_Jeux
{
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;

  margin-top: 15px;
}

.Onglet_Parametres_Jeux-Logo
{
  width: 150px;
  height: 150px;

  margin-left: 10px;
  margin-right: 10px;

  cursor: pointer;
}

.Logo-Selectionne
{
  filter: drop-shadow(0px 0px 5px orange);
}

.Onglet_Parametres_Appliquer
{
  width: 70px;
}

/* ################### */


/* PIED DE PAGE */
.Pied-Page
{
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;
  width: 100%;

  margin-top: 50px;

  background-color: grey;
  color: white;
  font-weight: bold;
}
