/* INITILISATION ELEMENTS */
*                   /* Initialisation du css */
{
  margin: 0px;
  padding: 0px;
}

/* STYLES PAGE */
.Page
{
  padding: 50px;

  background-color: #272A33;
}

/* STYLES ENTETE */
.Entete
{
  display: flex;
  flex-flow: column nowrap;

  position: relative;

  margin-bottom: 50px;
  padding: 10px;
  padding-bottom: 20px;

  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.Entete_Titre-Tournois
{
  margin-bottom: 15px;

  font-size: 50px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;

  color: #fc9e00;
}

.Entete_Description
{
  margin-bottom: 15px;

  font-size: 15px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;

  color: grey;
}

.Entete_Nom-Hote
{
  font-size: 25px;
  font-style: oblique;
  font-weight: bold;
  font-family: fantasy;

  color: #579cbb;
}

.Entete_Logo-Jeux
{
  position: absolute;
  bottom: 10px;
  right: 15px;

  width: 80px;
  height: auto;

  filter: drop-shadow(5px 5px 5px #222);
}



/* STYLES TOUT LES ONGLETS */
.Onglets
{
  display: flex;
  flex-flow: row nowrap;

  padding-top:5px;
  padding-bottom:5px;

  box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.75);
  border-bottom: 2px solid black;
}

/* STYLES BASE DES ONGLETS ONGLET */
.Onglets_
{
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;

  border: 2px solid white;

  cursor: pointer;
}



/* STYLES ONGLET ARBRE */
.Arbre-Onglet                    /* Conteneur Arbre */
{
  display: flex;
  flex-flow: column nowrap;

  padding: 10px;
  padding-bottom: 20px;

  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);


  transform: rotateY(0deg);
  transition-property: transform;
  transition-duration: 1s;
}

.Arbre_Tour-3, .Arbre_Tour-2, .Arbre_Tour-1, .Arbre_Tour-0      /* Les différents Tour */
{
  display: flex;
  flex-flow: row nowrap;

  justify-content: space-around;
}

.Joueur                   /* DIV de chaques joueurs */
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  padding: 5px;

  border: 3px solid #B4B4B4;
  border-radius: 5px;
  cursor: pointer;
}

.Pseudo-Joueurs
{
  padding-bottom: 4px;

  border-bottom: 2px solid white;

  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;

  color: white;
}

.Score-Joueurs
{
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-family: cursive;

  color: white;
}

.Connecteur-Joueur
{
  width: 2px;
  height: 20px;

  margin: 0px auto;

  background-color: #BEBFC1;
}

.Arbre_Conteneur-Connecteurs-Inter-Tours /* Conteneur pour tous les inters-connecteurs */
{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.Conteneur-Connecteurs          /* Pour chaques paire de connecteur */
{
  display: flex;
  flex-flow: row nowrap;
}

.Arbre_Conteneur-Connecteurs-Inter-Tour-3_Conteneur-Connecteurs_Connecteur       /* Chaques connecteurs du premier inter-tours*/
{
  width: 111px;
  height: 2px;

  background-color: #BEBFC1;
}

.Arbre_Conteneur-Connecteurs-Inter-Tour-2_Conteneur-Connecteurs_Connecteur       /* Chaques connecteurs du premier inter-tours*/
{
  width: 219px;
  height: 2px;

  background-color: #BEBFC1;
}

.Arbre_Conteneur-Connecteurs-Inter-Tour-1_Conteneur-Connecteurs_Connecteur       /* Chaques connecteurs du premier inter-tours*/
{
  width: 438px;
  height: 2px;

  background-color: #BEBFC1;
}



.Onglets_Texte
{
  font-size: 20px;
  font-style: oblique;
  font-weight: lighter;

  color: white;
}

.Joueurs-Onglet
{
  display: none;
  flex-flow: column nowrap;

  min-height: 524px;

  padding: 10px;
  padding-bottom: 20px;

  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

  transform: rotateY(90deg);
  transition-property: transform;
  transition-duration: 1s;
}

.Parametres-Onglet
{
  display: none;
  flex-flow: column nowrap;

  min-height: 524px;

  padding: 10px;
  padding-bottom: 20px;

  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

  transform: rotateY(90deg);
  transition-property: transform;
  transition-duration: 1s;
}

.Aide-Onglet
{
  display: none;
  flex-flow: column nowrap;

  min-height: 524px;

  padding: 10px;
  padding-bottom: 20px;

  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

  transform: rotateY(90deg);
  transition-property: transform;
  transition-duration: 1s;
}
